
.navenlov {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px;
}
    
.navcom {
    grid-column: span 8 / span 8;
    grid-column-start: 2;
    /* grid-row-start: 2; */
}
        